html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
}
.dark-nav{
    background-color: #000 !important;
}
a:hover{
 text-decoration:none;
}

.caption {
    float: left;
}
.checked {
    color: orange;
}

input[type="button"],input[type="submit"]{
	transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Poiret One', cursive;
    font-weight: 600;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}

.services{
	padding:6em 0;
    background: url("../images/dot.png"),url(../images/lovefilm_logo_big.jpg) no-repeat right center;
}
.services h3 {
    color: #00d2d4;
    font-size: 37px;
    text-transform: capitalize;
    line-height: 1.6em;
}
.movie-item {
    width: 49% !important;
    padding: 0;
}

.features {
    padding: 6em 0;
}

.services h4 {
    color: #fff;
    font-size: 23px;
    margin: 22px 0 0px;
}
.services ul li{
	font-size:16px;
	color:#fff;
	line-height:2.2em;
	display:block;
	margin:35px 0 0;
}
.services ul li a{
	color:#fff;
	text-decoration:none;
}

.contact-footer{
    background: url(../images/3_big.jpg) no-repeat center;
    background-size: cover;
	padding:6em 0;
}
.banner_big{
    background: url(../images/3_big.jpg) no-repeat center;
    background-size: cover;
}
.page_head {
    min-height: 235px !important;
}

.movie-name{
    text-align: center;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

h3.title ,h2.title{
    color: #f54785;
    font-size: 37px;
    margin-bottom: 30px;
    text-align: center;
}
.contact-footer h2{
	margin-bottom:30px !important;
}

.contact-footer form {
    width: 75%;
    margin: 0 auto;
}

.italic{
    font-style: italic;
}

.contact-footer form input[type="text"],.contact-footer form input[type="email"]{
    background: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    padding:12px 12px;
    font-size: 15px;
    color: #fff;
    outline: none;
    /* width: 46%; */
    width: 100%;
    display: inline-block;
    font-style: italic;
	transition:0.5s all;
}
.contact-footer form input[type="text"]{
    margin-right: 7%;	
}
.contact-footer textarea{
    background: none;
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    padding: 12px 12px;
    font-size: 15px;
    color: #fff;
    outline: none;
    width: 100%;
    margin: 40px 0 30px;
    font-style: italic;
    height: 135px;
	transition:0.5s all;
	resize:none;
}
.contact-footer form input[type="submit"] {
    background: none;
    border: 2px solid #fff;
    padding: 12px 0;
    font-size: 23px;
    color: #fff;
    outline: none;
    width: 25%;
    text-transform: uppercase;
    margin: 0 auto;
	transition:0.5s all;
}

p.contact-info {
    margin: 50px auto 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
}